<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{page_name}}</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}" />
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='quartz.css') }}" />
</head>
<body>
    <div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home.index') }}">Garnet</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% block main_menu_content %}
              {% endblock %}
            </ul>
            <span class="non_data_menu_item"><a href="">Logout</a></span>
          </div><!--/.nav-collapse -->
        </div>
    </nav>

  {% block body %}{% endblock %}
  </div>
</body>
</html>
