<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="partial_width">
            <h1>{{ info.status_code }}</h1>
            <p>{{ info.msg }}</p>
        </div>
    </body>
</html>